body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.header .logo {
  font-size: 1.5rem;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header ul li a {
  color: white;
  text-decoration: none;
}

.home, .about, .contact {
  padding: 20px;
  text-align: center;  
}

.about h2 {
  color : blue;
  font-size: 2rem;
  padding : 10px;
  margin: 0;
  background: rgb(253, 253, 30);

}

.projects {
  padding: 20px;
}

.projects h2 {
  color : green;
  font-size: 2rem;
  padding : 10px;
  margin: 0;
  background: red;

}

.projects h3 {
  color : purple;
  font-size: 1.5rem;
}

.projects li {
  color : black;
}

.contact h2 {
  color : blue;
  font-size: 2rem;
  padding : 10px;
  margin: 0;
  background: yellow;

}
